body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9e3e3;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.buttons {
  margin-bottom: 20px;
}

button {
  font-size: 1.2rem;
  padding: 10px 25px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.yes-button {
  background-color: #ff4d6d;
  color: white;
}

.no-button {
  background-color: #ccc;
}

.gif_container img {
  width: 250px;
  margin-top: 10px;
}
